
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<style>

    .content-beneficios {
        color: white;
    }

    .popover-body {
        padding: 10px 10px;
        color: white !important;
    }

    .popover {
        background: #030734;
    }



    .content-wrapper-margin {
        margin-top: 90px !important;
    }

    .bg-squeeze {
        background-color: #ffffff;
    }

    .bg-indigo-9000 {
        background-color: #030734;
    }

    .hero-wrap.style3 .hero-img-wrap:after {
        position: absolute;
        top: 25%;
        right: 30px;
        content: "";
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: #edf9f969;
        z-index: -1111;
    }

    .hero-wrap.style3 .hero-img-wrap:before {
        position: absolute;
        top: 57%;
        left: 0;
        content: "";
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: #edf9f95c;
        z-index: 1;
    }

    .panel-22 {
        position: relative;
        background-color: #fff;
        z-index: 1;
        border-radius: 5px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 7%);
        box-shadow: 0 0 15px rgb(0 0 0 / 7%);
    }


</style>

<style type="text/css">

    .blog-slider-three2.owl-carousel .owl-nav {
        margin-top: 0px;
    }

        .blog-slider-three2.owl-carousel .owl-nav button.owl-prev, .blog-slider-three2.owl-carousel .owl-nav button.owl-next {
            position: relative;
            width: 38px;
            height: 38px;
            top: auto;
            bottom: 0;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

            .blog-slider-three2.owl-carousel .owl-nav button.owl-prev i, .blog-slider-three2.owl-carousel .owl-nav button.owl-next i {
                font-size: 11px;
                top: 0;
            }

        .blog-slider-three2.owl-carousel .owl-nav button.owl-prev {
            left: calc(50% - 25px);
        }

        .blog-slider-three2.owl-carousel .owl-nav button.owl-next {
            left: calc(50% + 0px);
            right: auto;
        }

    .bg-gradient-simulador {
        background: linear-gradient(45deg, #003679 0%, #ee7e3c 100%);
    }

    .titulo-informativo {
        color: #ee7e3c;
        font-weight: bold;
        font-family: Arial;
    }

    .texto-description {
        color: white;
        align-content:center;
    }   

</style>



<!-- Hero Section Start -->
<section class="hero-wrap style3" id="seccionCotizador">
    <img src="~/Content/assets3/img/hero/hero-shape-15.png" alt="Image" class="hero-shape-two">
    <img src="~/Content/assets3/img/hero/hero-shape-14.png" alt="Image" class="hero-shape-three">
    <img src="~/Content/assets3/img/hero/hero-shape-11.png" alt="Image" class="hero-shape-four animationFramesTwo">
    <div class="content">
        <div class="row gx-5 align-items-center">
            <div class="col-md-12">
                @Html.Action("Principal", "Publicidad")
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!--Cotizador seccion start-->
<section class="security-wrap ptb-100 bg-gradient-simulador" id="cotizador">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12 col-12 order-lg-1 order-2">

                <div class="hero-img">

                    <!-- Panel Wizard Form Container -->
                    <div class="panel" id="exampleWizardFormContainer" style="box-shadow: 0 5px 15px rgb(0 0 0 / 60%); background-color: #ffffff; ">
                        <div class="panel-heading" id="INICIOSIMULACION">
                            <h4 style="color: #161942;text-align:center;">Cotiza tu crédito aquí</h4> <br>
                        </div>
                        <div class="panel-body">
                            <!-- Steps -->
                            <div class="pearls row" style="margin: 0 0 1px;">
                                <div class="pearl current col-4">
                                    <div class="pearl-icon"><i class="icon md-car" aria-hidden="true"></i></div>
                                    <span class="pearl-title">TU AUTO</span>
                                </div>
                                <div class="pearl col-4">
                                    <div class="pearl-icon"><i class="icon md-pin-account" aria-hidden="true"></i></div>
                                    <span class="pearl-title">TUS DATOS</span>
                                </div>
                                <div class="pearl col-4">
                                    <div class="pearl-icon"><i class="icon md-check" aria-hidden="true"></i></div>
                                    <span class="pearl-title">VALIDACIÓN</span>
                                </div>
                            </div>
                            <!-- End Steps -->
                            <!-- Wizard Content -->
                            <form id="exampleFormContainer" style=" border-top: 1px solid #ee7e3c;">
                                <div class="wizard-content">

                                    <div class="wizard-pane active" id="DivAuto" role="tabpanel">
                                        <h5 style="color: #161942;">¿Qué auto tienes?</h5>
                                        <div class="row">

                                            <div class="col-md-6 col-xl-4">
                                                <div class="form-group">
                                                    <label for="IdAnio" class="text-blue">Año de tu auto</label>
                                                    @Html.DropDownList("IdAnio", (IEnumerable<SelectListItem>)ViewBag.IdAnio, new { @class = "form-control select2", id = "IdAnio", @dataplugin = "select2" })
                                                </div>
                                            </div>


                                            <div class="col-md-6 col-xl-4">
                                                <div class="form-group">
                                                    <label for="IdMarca" class="text-blue">Marca</label>
                                                    <select class="form-control select2" id="IdMarca" required="required" name="IdMarca" data-plugin="select2">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-xl-4">
                                                <div class="form-group">
                                                    <label for="IdModelo" class="text-blue">Modelo</label>
                                                    <select class="form-control select2" id="IdModelo" name="IdModelo" required="required" data-plugin="select2">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="IdVersion" class="text-blue">Versión</label>
                                                    <select class="form-control select2" id="IdVersion" required="required" name="IdVersion" data-plugin="select2">
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>




                                    <div class="wizard-pane" id="DivDatosContacto" role="tabpanel">
                                        <h3>Cuéntanos un poco sobre ti</h3>

                                        <div class="row">

                                            <div class="form-group col-md-4">
                                                <label class="floating-label text-blue">Nombre</label>
                                                <input type="text" name="Nombre" id="Nombre" required="required" class="form-control" />
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="floating-label text-blue">Apellido paterno</label>
                                                <input type="text" name="ApellidoPaterno" id="ApellidoPaterno" required="required" class="form-control" />
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="floating-label text-blue">Apellido materno</label>
                                                <input type="text" name="ApellidoMaterno" id="ApellidoMaterno" class="form-control" />
                                            </div>



                                            <div class="form-group col-md-6">

                                                <label class="floating-label text-blue">Teléfono celular</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">MX(+52)</span>
                                                    </div>
                                                    <input type="text" name="Telefono" id="Telefono" required="required" class="form-control" maxlength="10" />
                                                </div>

                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="floating-label text-blue">Email</label>
                                                <input type="text" name="Email" id="Email" required="required" class="form-control" />
                                            </div>


                                            <div class="col-md-12">
                                                <div class="checkbox-custom checkbox-primary">
                                                    <input type="checkbox" name="AvisoPrivacidad" required="required">
                                                    <label></label>
                                                    Estoy de acuerdo con las <a style="color: #ee7e3c;" href="javascript:MostrarAvisoGlobal();"><strong>Aviso de Privacidad</strong></a>  y <a style="color: #ee7e3c;" href="javascript:MostrarTerminosGlobal();"><strong>Términos y Condiciones</strong></a>
                                                </div>
                                            </div>




                                        </div>



                                    </div>


                                    <div class="wizard-pane" id="DivValidacion" role="tabpanel">

                                        <h3>Código de verificación.</h3>

                                        <p>Ingresa el código de verificación que hemos enviado vía mensaje de texto al:</p>

                                        <div class="row">

                                            <div class="form-group col-md-4">
                                                <label class="floating-label text-blue">Nombre</label>
                                                <input type="text" name="NombreInfo" id="NombreInfo" class="form-control" readonly />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="floating-label text-blue">Apellido paterno</label>
                                                <input type="text" name="ApellidoPaternoInfo" id="ApellidoPaternoInfo" class="form-control" readonly />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="floating-label text-blue">Apellido materno</label>
                                                <input type="text" name="ApellidoMaternoInfo" id="ApellidoMaternoInfo" class="form-control" readonly />
                                            </div>


                                            <div class="form-group col-md-6">

                                                <label class="floating-label text-blue">Teléfono celular</label>

                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">MX(+52)</span>
                                                    </div>
                                                    <input type="text" name="TelefonoInfo" id="TelefonoInfo" class="form-control" readonly />
                                                </div>

                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="floating-label text-blue">Código</label>
                                                <input type="text" name="Codigo" id="Codigo" required="required" class="form-control" maxlength="4" />
                                                <small class="invalid-feedback" id="validCodigo">Código incorrecto</small>
                                            </div>

                                            <div class="col-12 text-center" id="loading" style="display:none;">
                                                Estamos preparando tu propuesta.
                                                <div class="text-center">
                                                    <div class="spinner-border" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </form>
                            <!-- Wizard Content -->
                        </div>
                    </div>
                    <!-- End Panel Wizard Form Container -->


                </div>

            </div>
        </div>
    </div>
</section>
<!--Cotizador seccion end-->
<!-- Requisitos seccion Start -->
<section class="goal-wrap ptb-100 bg-albastor bg-gradient-requisitos">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="goal-img-wrap" style="box-shadow: 0 5px 15px rgb(0 0 0 / 60%); background-color: #ffffff; ">                    
                    <img src="~/Content/assets3/img/requisitos.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="goal-content">
                    <div class="content-title style1">
                        <h2>Requisitos para la cotización de tu crédito.</h2>
                    </div>
                    <ul class="content-feature-list style1 list-style">
                        <li><span><i class="flaticon-tick"></i></span>Factura o Refactura Original.</li>
                        <li><span><i class="flaticon-tick"></i></span>Tarjeta de Circulación.</li>
                        <li><span><i class="flaticon-tick"></i></span>INE o Pasaporte.</li>
                    </ul>
                    <div class="p-25 text-left">
                        <a href="#cotizador" class="btn style1">Inicia tu Solicitud</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Requisitos Section End -->

<!-- ##### Services Area Start ###### -->
<section class="services-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>                    
                    <h2>Realiza la solicitud de tu crédito en 4 sencillos pasos</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                    <div class="icon">                        
                        <img src="/IMG/pasos/form.png">
                    </div>
                    <div class="text" style="user-select: none">
                        <h5>SIMULA TU CREDITO</h5>
                        <p>Ingresa los datos de tu vehículo para conocer el monto de tu préstamo.</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div class="icon">
                        <img src="/IMG/pasos/phone.png">
                    </div>
                    <div class="text" style="user-select: none">
                        <h5>Contáctanos</h5>
                        <p>Contacta con nuestros asesores para explicarte la oferta de la cotización de tu crédito.</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <div class="icon">
                        <img src="/IMG/pasos/person.png">
                    </div>
                    <div class="text" style="user-select: none">
                        <h5>Acude a la cita</h5>
                        <p>Acude a alguna de nuestras sucursales con tu auto para la evaluación y entrega de documentación requerida.</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <div class="icon">
                        <img src="/IMG/pasos/cash.png">
                    </div>
                    <div class="text" style="user-select: none">
                        <h5>Recibe los beneficios</h5>
                        <p>Como último paso te depositamos tu prestamo en menos de 24 hrs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Services Area End ###### -->



<!--
<section class="testimonial-wrap ptb-100  bg-albastor">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style1 text-center mb-40">
                    <span>Auto y Varo</span>
                    <h1>¿Quiénes somos?</h1>
                </div>
            </div>
        </div>
        <div class="testimonial-slider-three owl-carousel">
            <div class="testimonial-card style3">
                <h4 class="client-quote">Somos una empresa mexicana con 9 años de experiencia en el mercado financiero.</h4>
            </div>
            <div class="testimonial-card style3">
                <h4 class="client-quote">En Auto y Varo, nos dedicamos a brindar un préstamo de hasta el 75% del valor de su auto sin tener que dejarlo.</h4>

            </div>
            <div class="testimonial-card style3">
                <h4 class="client-quote">Diferenciándose por la rapidez, facilidad y seguridad en nuestro servicio.</h4>

            </div>
            <div class="testimonial-card style3">
                <h4 class="client-quote">Nuestra misión es seguir apoyando a las personas con un préstamo transparente y confiable, de manera que te sientas seguro.</h4>

            </div>
        </div>
    </div>
</section>-->
<!-- ##### Call To Action Start ###### -->
<section class="cta-area d-flex flex-wrap">
    <!-- Cta Thumbnail -->
    <div class="cta-thumbnail bg-img jarallax" style="background-image: url(../Content/Page/img/bg-img/5.jpg);"></div>

    <!-- Cta Content -->
    <div class="cta-content">
        <!-- Section Heading -->
        <div class="section-heading white">
            <div class="line"></div>
            <h2>Auto y Varo te da un préstamo por tu auto sin tener que dejarlo</h2>
        </div>
        <h6>
            Nos dedicamos a brindar un préstamo de hasta el 75% del valor de su auto sin tener que dejarlo. Somos una empresa mexicana que brinda
            una solución inmediata  y transparente para financiar un préstamo por tu auto con esquemas de liquidación flexibles donde puedes realizar abonos directos a capital
        </h6>
        <div class="d-flex flex-wrap mt-50">
            <!-- Single Skills Area -->
            <!-- Single Skills Area -->

        </div>
        <a href="@Url.Action("Contacto", "Home")" class="btn credit-btn box-shadow btn-2">Contacto</a>

    </div>
</section>
<!-- ##### Call To Action End ###### -->
<!-- ##### Call To Action Start ###### -->
<section class="cta-2-area wow fadeInUp" data-wow-delay="100ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Cta Content -->
                <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="cta-text">
                        <h4>¿Necesitas una lana? Póngase en contacto con nosotros.</h4>
                    </div>
                    <div class="cta-btn">
                        <a href="@Url.Action("Contacto", "Home")" class="btn style1">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="miscellaneous-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row align-items-end justify-content-center">

            <div class="row wow fadeInUp" data-wow-delay="250ms">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2" >
                    <div class="section-title style1 text-center mb-40">
                        <h2>Síguenos en nuestras redes sociales</h2>
                    </div>
                </div>
            </div>

            <!-- Add Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="add-area mb-100 wow fadeInUp blog-card style3" data-wow-delay="350ms">
                    <a href="https://www.facebook.com/profile.php?id=100090812207060" target="_blank"><img src="../Content/Page/img/bg-img/facebook.jpg" alt=""></a>
                </div>
            </div>

            <!-- Add Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="add-area mb-100 wow fadeInUp blog-card style3" data-wow-delay="450ms">
                    <a href="https://www.tiktok.com/&#64;auto.varo?_t=8evWcVSSgek&_r=1" target="_blank"><img src="../Content/Page/img/bg-img/tiktok.jpg" alt=""></a>
                </div>
            </div>

            <!-- Add Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="add-area mb-100 wow fadeInUp blog-card style3" data-wow-delay="650ms">
                    <a href="https://www.instagram.com/autoyvaromx/" target="_blank"><img src="../Content/Page/img/bg-img/insta.jpg" alt=""></a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Miscellaneous Area End ###### -->




<footer class="footer-area section-padding-100-0 newsletter-area section-padding-100 bg-img jarallax" style="background-image: url(../Content/Page/img/bg-img/6.jpg);">
    <div class="container">
        <div class="row">
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="titulo-informativo">Sobre nosotros</h5>
                    <!-- Nav -->
                    <nav class="texto-description">
                        Nuestra misión es brindar una solución inmediata, transparente y segura, a través de un proceso ágil para financiar un préstamo por tu auto con esquemas de liquidación flexibles.
                    </nav>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="titulo-informativo">Horarios de atención</h5>
                    <!-- Nav -->
                    <nav class="texto-description">
                        Lunes a Viernes:  <br>
                        09:00 hrs - 19:00 hrs <br><br>
                        Sábado : <br>
                        09:00 hrs - 14:00 hrs
                        <br><br>
                        <a href="https://www.facebook.com/profile.php?id=100090812207060" target="_blank"><img src="/IMG/pasos/fb.png"></a>
                        <a href="https://www.tiktok.com/&#64;auto.varo?_t=8evWcVSSgek&_r=1" target="_blank"><img src="/IMG/pasos/tiktok.png"></a>
                        <a href="https://www.instagram.com/autoyvaromx/" target="_blank"><img src="/IMG/pasos/ig.png"></a>

                    </nav>

                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="titulo-informativo">Nuestra página</h5>
                    <!-- Nav -->

                    <div class="single-latest-news-area d-flex align-items-center">
                        <div class="news-content">
                            <a href="@Url.Action("Contacto", "Home")">Escríbenos</a> <br>
                            <a href="#">Preguntas frecuentes</a> <br>
                            <a href="#">Soluciones financieras </a> <br>
                            <a href="#">Nuestros préstamos </a> <br>
                        </div>
                    </div>

                    </div>
                </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="titulo-informativo">Auto y Varo</h5>

                    <!-- Single News Area -->
                    <div class="single-latest-news-area d-flex align-items-center">
                        <div class="news-content">
                            <a href="@Url.Action("AvisoPrivacidad", "Home")">Aviso de privacidad</a> <br>
                            <a href="@Url.Action("TerminosyCondiciones", "Home")">Términos y condiciones</a> <br />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/AutoYvaro/home.js"></script>

    <script>



    var mapSimulacion = [];

    function GetMarcaSelect(IdAnio) {
        fillComboBox("IdMarca", "Cotizador", "GetMarcaSelect", { IdAnio: IdAnio }, null);
    }

    function GetModeloSelect(IdAnio, IdMarca)
    {
        fillComboBox("IdModelo", "Cotizador", "GetModeloSelect", { IdAnio: IdAnio, IdMarca: IdMarca }, null);
    }

    function GetVersionSelect(IdAnio, IdMarca, IdModelo)
    {
        fillComboBox("IdVersion", "Cotizador", "GetVersionComboBox", { IdAnio: IdAnio, IdMarca: IdMarca, IdModelo: IdModelo, Marca: $("#IdMarca option:selected").text(), Modelo: $("#IdModelo option:selected").text() }, null);

        //var url = '@Url.Action("GetVersionSelect", "Cotizador")';
        //$.get(url, { IdAnio: IdAnio, IdMarca: IdMarca, IdModelo: IdModelo, Marca: $("#IdMarca option:selected").text(), Modelo: $("#IdModelo option:selected").text() }).done(function (data) {
        //    $("#divVersiones").html(data);
        //})
    }

    $("#IdAnio").change(function () {
        var IdAnio = $("#IdAnio").val();
        GetMarcaSelect(IdAnio);
        clearComboBox("IdModelo", "Seleccionar", -1)
        clearComboBox("IdVersion", "Seleccionar", -1)
        updateSelect();
    })

    $("#IdMarca").change(function () {
        var IdAnio = $("#IdAnio").val();
        var IdMarca = $("#IdMarca").val();
        GetModeloSelect(IdAnio, IdMarca);
        clearComboBox("IdVersion", "Seleccionar", -1)

    })

    $("#IdModelo").change(function () {
        var IdAnio = $("#IdAnio").val();
        var IdMarca = $("#IdMarca").val();
        var IdModelo = $("#IdModelo").val();
        GetVersionSelect(IdAnio, IdMarca, IdModelo);

    })

    function clearComboBox(select, Label, DefaulValue) {
        $('#' + select + ' option').remove();
        $('#' + select).append('<option value="' + DefaulValue + '">' + Label + '</option>');
    }

    function CalcularSimulacion() {
        var Clave = $("#IdVesion").val();
        var Nombre = $('#IdVesion option:selected').text();
        var url = '@Url.Action("Simulacion","Page")';
        var Data = mapSimulacion[Clave];
        window.location = url + '?Clave=' + Clave + '&Nombre=' + Nombre + '&Compra=' + Data.Compra + '&Moneda=' + Data.Moneda + '&Venta=' + Data.Venta;
    }

    function fillComboBox(select, controlador, metodo, parametros, value) {
        var url = '/' + controlador + '/' + metodo
        $.ajax({
            async: true,
            cache: false,
            dataType: "html",
            type: 'GET',
            url: url,
            data: parametros,
            success: function (data) {
                var Data = JSON.parse(data)

                console.log(Data);

                $('#' + select + ' option').remove();
                if (Data.length == 0) {
                    $('#' + select).append('<option value=""-1""></option>');
                }
                else {
                    //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                    datas = Data;
                    var id_res = 0;
                    mapSimulacion = [];
                    $.each(Data, function (i, item) {
                        $('#' + select).append('<option value="' + item.Clave + '">' +
                            item.Nombre + '</option>');
                    });
                    $('#' + select).val(value);
                }

            },
            beforeSend: function () { },
            error: function (objXMLHttpRequest) { }
        });
    }

    function MostrarPrecio(Clave, version) {
        var url = '@Url.Action("GetPrecioDeCompra", "Cotizador")';
        $.get(url, { Clave: Clave, version: version}).done(function (data) {
            $("#DivPreciosTemp").html(data);
        })
        }

        var defaults = {
            step: '.steps .step, .pearls .pearl',
            templates: {
                buttons: function buttons() {
                    var options = this.options;
                    return "<div class=\"wizard-buttons\"><a class=\"btn btn-default btn-outline\" href=\"#".concat(this.id, "\" data-wizard=\"back\" role=\"button\">").concat("Atras", "</a><a class=\"btn style1 btn-outline float-right\" href=\"#").concat(this.id, "\" data-wizard=\"next\" role=\"button\">").concat("Seguir", "</a><a class=\"btn style1 btn-outline float-right\" href=\"#").concat(this.id, "\" data-wizard=\"finish\" role=\"button\">").concat("Continuá tu solicitud", "</a></div>");
                }
            },
            classes: {
                step: {
                    active: 'active'
                },
                button: {
                    hide: 'hidden-xs-up',
                    disabled: 'disabled'
                }
            }
        };
        var options = $.extend(true, {}, defaults,
            {
                onInit: function onInit() {
                    $('#exampleFormContainer').formValidation({
                        framework: 'bootstrap',
                        fields: {
                            Nombre: {
                                validators: {
                                    notEmpty: {
                                        message: 'El nombre es requerida.'
                                    }
                                }
                            },
                            ApellidoPaterno: {
                                validators: {
                                    notEmpty: {
                                        message: 'El appelido paterno es requerida.'
                                    }
                                }
                            },
                            IdMarca: {
                                validators: {
                                    notEmpty: {
                                        message: 'La año es requerida.'
                                    }
                                }
                            },
                            IdModelo: {
                                validators: {
                                    notEmpty: {
                                        message: 'El modelo es requerido.'
                                    }
                                }
                            },
                            IdVesion: {
                                validators: {
                                    notEmpty: {
                                        message: 'La versión es requerido.'
                                    }
                                }
                            },
                            password: {
                                validators: {
                                    notEmpty: {
                                        message: 'The password is required'
                                    }
                                }
                            },
                            AvisoPrivacidad: {
                                validators: {
                                    notEmpty: {
                                        message: 'Aceptar los terminos y condiciones'
                                    }
                                }
                            },
                            number: {
                                validators: {
                                    notEmpty: {
                                        message: 'The credit card number is not valid'
                                    }
                                }
                            },
                            Codigo: {
                                validators: {
                                    notEmpty: {
                                        message: 'Ingresa el código'
                                    }
                                }
                            }
                        },
                        err: {
                            clazz: 'invalid-feedback'
                        },
                        control: {
                            // The CSS class for valid control
                            valid: 'is-valid',
                            // The CSS class for invalid control
                            invalid: 'is-invalid'
                        },
                        row: {
                            invalid: 'has-danger'
                        }
                    });
                },
                validator: function validator() {
                    var fv = $('#exampleFormContainer').data('formValidation');
                    var $this = $(this); // Validate the container

                    fv.validateContainer($this);
                    var isValidStep = fv.isValidContainer($this);

                    if (isValidStep === false || isValidStep === null) {
                        return false;
                    }

                    if ($this.attr("id") === "DivDatosContacto") {
                        $("#TelefonoInfo").val($("#Telefono").val());
                        $("#NombreInfo").val($("#Nombre").val());
                        $("#ApellidoPaternoInfo").val($("#ApellidoPaterno").val());
                        $("#ApellidoMaternoInfo").val($("#ApellidoMaterno").val());
                        GenerarCodigo();
                    };

                    return true;
                },
                onFinish: function onFinish() {// $('#exampleFormContainer').submit();
                    validarCodigo();
                },
                buttonsAppendTo: '.panel-body'
            });


        $(function () {

            $("#IdAnio").val(null);
            $("#exampleWizardFormContainer").wizard(options);
        }); // Example Wizard Pager
  // --------------------------

        var datosTemp = {};
        function GenerarCodigo() {

            var URLCODIGO = '@Url.Action("CreateSolicitud", "Cotizador")';

            var data = {
                Telefono: $("#Telefono").val(),
                Email: $("#Email").val(),
                IdAnioLA: $("#IdAnio").val(),
                IdMarcaLA: $("#IdMarca").val(),
                IdModeloLA: $("#IdModelo").val(),
                ClaveVercion: $("#IdVersion").val(),
                Compra: 0,
                Venta: 0,
                Nombre: $("#Nombre").val(),
                ApellidoPaterno: $("#ApellidoPaterno").val(),
                ApellidoMaterno: $("#ApellidoMaterno").val(),
                NombreCopleto: $("#Nombre").val() + " " + $("#ApellidoPaterno").val() + " " + $("#ApellidoMaterno").val()
            };
            console.log(data);
            $.post(URLCODIGO, data)
                .done(function (data) {
                    console.log("Algo", data);
                    datosTemp = data;
            });



        }

        $("#Codigo").keyup(function () {
            $("#validCodigo").hide();
        });

        function validarCodigo() {
             var URLCODIGO = '@Url.Action("ValidarSolicitud", "Cotizador")';
            var data = datosTemp;
            data.CodigoValidacionNumero = $("#Codigo").val();

            $.post(URLCODIGO, data)
                .done(function (data) {
                    if (data.Error) {
                        $("#validCodigo").show();
                        $("#Codigo").addClass("is-invalid");
                    } else {
                        $("#validCodigo").hide();
                        $("#loading").show();
                        window.location = '@Url.Action("Index","Simulador")' + '?telefono=' + $("#Telefono").val() + '&codigo=' + $("#Codigo").val();
                    }

            });
        }

        function updateSelect() {
            $('#IdAnio').select2({
                placeholder: 'Selecciona año',
                width: '100%'
            });
            $('#IdMarca').select2({
                placeholder: 'Selecciona marca',
                width: '100%'
            });
            $('#IdModelo').select2({
                placeholder: 'Selecciona modelo',
                width: '100%'
            });
            $('#IdVersion').select2({
                placeholder: 'Selecciona versión',
                width: '100%'
            });
        }
        updateSelect();



        $(document).ready(function () {
            $('[data-bs-toggle="popover"]').popover();
        })

    </script>

}

