
@{
    ViewBag.Title = "SelectVehiculo";
    Layout = "~/Views/Shared/_LayoutAPP.cshtml";
}

<style>

    .panel-body {
        position: relative;
        padding: 0px 0px;
    }
    .example {
        margin-top: 0px;
        margin-bottom: 0px;
    }

</style>





<div class="row">

  

    <div class="-col-md-12">
        <!-- Panel Wizard Form Container -->
        <div class="panel" id="exampleWizardFormContainer">
            <div class="panel-heading" id="INICIOSIMULACION">
            </div>
            <div class="panel-body">
                <!-- Steps -->
                <div class="example">
                    <div class="pearls row" style="margin: 0 0 1px;">
                        <div class="pearl current col-4">
                            <div class="pearl-icon"><i class="icon md-car" aria-hidden="true"></i></div>
                            <span class="pearl-title">TU AUTO</span>
                        </div>
                        <div class="pearl col-4">
                            <div class="pearl-icon"><i class="icon md-pin-account" aria-hidden="true"></i></div>
                            <span class="pearl-title">TUS DATOS</span>
                        </div>
                        <div class="pearl col-4">
                            <div class="pearl-icon"><i class="icon md-check" aria-hidden="true"></i></div>
                            <span class="pearl-title">VALIDACIÓN</span>
                        </div>
                    </div>
                </div>
                <!-- End Steps -->
                <!-- Wizard Content -->
                <form id="exampleFormContainer" style=" border-top: 1px solid #ee7e3c;">
                    <div class="wizard-content">

                        <div class="wizard-pane active" id="DivAuto" role="tabpanel">

                            <div class="row">

                                <div class="col-lg-12">

                                    <section class="security-wrap ptb-30">
                                        <div class="container">
                                            <div class="row gx-5 align-items-center">

                                                <div class="col-lg-6 col-12 order-lg-1 order-1">
                                                    <div class="security-content">
                                                        <div class="content-title style1">
                                                            <div class="text-left">
                                                                <i class="icon icon-3x fa-car orange-900"></i> <span>Datos de tu vehículo</span>
                                                            </div>
                                                            <h3>
                                                                Cuéntanos un poco sobre tu vehículo.
                                                            </h3>
                                                            <p class="text-justify">Ingresa el año, marca, modelo y versión de tu vehículo, esto nos permite ofrecerte la mejor oferta de préstamo.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-12 order-lg-2 order-2">

                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="IdAnio" class="text-blue">Año de tu auto</label>
                                                                @Html.DropDownList("IdAnio", (IEnumerable<SelectListItem>)ViewBag.IdAnio, new { @class = "form-control select2", id = "IdAnio", @dataplugin = "select2" })
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="IdMarca" class="text-blue">Marca</label>
                                                                <select class="form-control select2" id="IdMarca" required="required" name="IdMarca" data-plugin="select2">
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="IdModelo" class="text-blue">Modelo</label>
                                                                <select class="form-control select2" id="IdModelo" name="IdModelo" required="required" data-plugin="select2">
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="IdVersion" class="text-blue">Versión</label>
                                                                <select class="form-control select2" id="IdVersion" required="required" name="IdVersion" data-plugin="select2">
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>


                                            </div>

                                        </div>
                                    </section>

                                </div>



                            </div>

                        </div>




                        <div class="wizard-pane" id="DivDatosContacto" role="tabpanel">

                            <div class="row">

                                <div class="col-md-12">

                                    <section class="security-wrap ptb-30">
                                        <div class="container">
                                            <div class="row gx-5 align-items-center">

                                                <div class="col-lg-6 col-12 order-lg-1 order-1">
                                                    <div class="security-content">
                                                        <div class="content-title style1">
                                                            <div class="text-left">
                                                                <i class="icon icon-3x fa-address-book  orange-900"></i> <span>Datos de contacto</span>
                                                            </div>
                                                            <h3>
                                                                Cuéntanos un poco sobre ti
                                                            </h3>
                                                            <p class="text-justify">Esta información nos permite ofrecerte una atención personalizada sobre la oferta que tenemos para ti.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-12 order-lg-2 order-2">

                                                    <div class="row">

                                                        <div class="form-group col-md-4">
                                                            <label class="floating-label text-blue">Nombre</label>
                                                            <input type="text" name="Nombre" id="Nombre" required="required" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label class="floating-label text-blue">Apellido paterno</label>
                                                            <input type="text" name="ApellidoPaterno" id="ApellidoPaterno" required="required" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label class="floating-label text-blue">Apellido materno</label>
                                                            <input type="text" name="ApellidoMaterno" id="ApellidoMaterno" class="form-control" />
                                                        </div>



                                                        <div class="form-group col-md-6">

                                                            <label class="floating-label text-blue">Teléfono celular</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">MX(+52)</span>
                                                                </div>
                                                                <input type="text" name="Telefono" id="Telefono" required="required" class="form-control" maxlength="10" />
                                                            </div>

                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label class="floating-label text-blue">Email</label>
                                                            <input type="text" name="Email" id="Email" required="required" class="form-control" />
                                                        </div>


                                                        <div class="col-md-12">
                                                            <div class="checkbox-custom checkbox-primary">
                                                                <input type="checkbox" name="AvisoPrivacidad" required="required">
                                                                <label></label>
                                                                Estoy de acuerdo con las <a style="color: #ee7e3c;" href="javascript:MostrarAvisoGlobal();"><strong>Aviso de Privacidad</strong></a>  y <a style="color: #ee7e3c;" href="javascript:MostrarTerminosGlobal();"><strong>Términos y Condiciones</strong></a>
                                                            </div>
                                                        </div>


                                                    </div>


                                                </div>


                                            </div>

                                        </div>
                                    </section>

                                </div>





                            </div>



                        </div>


                        <div class="wizard-pane" id="DivValidacion" role="tabpanel">








                            <div class="row">

                                <section class="security-wrap ptb-30">
                                    <div class="container">
                                        <div class="row gx-5 align-items-center">

                                            <div class="col-lg-6 col-12 order-lg-1 order-1">
                                                <div class="security-content">
                                                    <div class="content-title style1">
                                                        <div class="text-left">
                                                            <i class="icon icon-3x fa-key orange-900"></i> <span>Validación</span>
                                                        </div>
                                                        <h3>Código de verificación.</h3>
                                                        <p class="text-justify">Por seguridad de tu información ingresa el código de verificación que hemos enviado vía mensaje de texto al:</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-12 order-lg-2 order-2">

                                                <div class="row">


                                                    <div class="form-group col-md-4">
                                                        <label class="floating-label text-blue">Nombre</label>
                                                        <input type="text" name="NombreInfo" id="NombreInfo" class="form-control" readonly />
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label class="floating-label text-blue">Apellido paterno</label>
                                                        <input type="text" name="ApellidoPaternoInfo" id="ApellidoPaternoInfo" class="form-control" readonly />
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label class="floating-label text-blue">Apellido materno</label>
                                                        <input type="text" name="ApellidoMaternoInfo" id="ApellidoMaternoInfo" class="form-control" readonly />
                                                    </div>


                                                    <div class="form-group col-md-6">

                                                        <label class="floating-label text-blue">Teléfono celular</label>

                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">MX(+52)</span>
                                                            </div>
                                                            <input type="text" name="TelefonoInfo" id="TelefonoInfo" class="form-control" readonly />
                                                        </div>

                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="floating-label text-blue">Código</label>
                                                        <input type="text" name="Codigo" id="Codigo" required="required" class="form-control" maxlength="4" />
                                                        <small class="invalid-feedback" id="validCodigo">Código incorrecto</small>
                                                    </div>

                                                    <div class="col-12 text-center" id="loading" style="display:none;">
                                                        Estamor preparando tu propuesta.
                                                        <div class="text-center">
                                                            <div class="spinner-border" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>


                                        </div>

                                    </div>
                                </section>



                            </div>


                        </div>
                    </div>
                </form>
                <!-- Wizard Content -->
            </div>
        </div>
        <!-- End Panel Wizard Form Container -->



    </div>
</div>







<!-- Testimonial Section End -->
<!-- ##### Newsletter Area End ###### -->
@section Scripts {

    <script>



    var mapSimulacion = [];

    function GetMarcaSelect(IdAnio) {
        fillComboBox("IdMarca", "Cotizador", "GetMarcaSelect", { IdAnio: IdAnio }, null);
    }

    function GetModeloSelect(IdAnio, IdMarca)
    {
        fillComboBox("IdModelo", "Cotizador", "GetModeloSelect", { IdAnio: IdAnio, IdMarca: IdMarca }, null);
    }

    function GetVersionSelect(IdAnio, IdMarca, IdModelo)
    {
        fillComboBox("IdVersion", "Cotizador", "GetVersionComboBox", { IdAnio: IdAnio, IdMarca: IdMarca, IdModelo: IdModelo, Marca: $("#IdMarca option:selected").text(), Modelo: $("#IdModelo option:selected").text() }, null);

        //var url = '@Url.Action("GetVersionSelect", "Cotizador")';
        //$.get(url, { IdAnio: IdAnio, IdMarca: IdMarca, IdModelo: IdModelo, Marca: $("#IdMarca option:selected").text(), Modelo: $("#IdModelo option:selected").text() }).done(function (data) {
        //    $("#divVersiones").html(data);
        //})
    }

    $("#IdAnio").change(function () {
        var IdAnio = $("#IdAnio").val();
        GetMarcaSelect(IdAnio);
        clearComboBox("IdModelo", "Seleccionar", -1)
        clearComboBox("IdVersion", "Seleccionar", -1)
        updateSelect();
    })

    $("#IdMarca").change(function () {
        var IdAnio = $("#IdAnio").val();
        var IdMarca = $("#IdMarca").val();
        GetModeloSelect(IdAnio, IdMarca);
        clearComboBox("IdVersion", "Seleccionar", -1)

    })

    $("#IdModelo").change(function () {
        var IdAnio = $("#IdAnio").val();
        var IdMarca = $("#IdMarca").val();
        var IdModelo = $("#IdModelo").val();
        GetVersionSelect(IdAnio, IdMarca, IdModelo);

    })

    function clearComboBox(select, Label, DefaulValue) {
        $('#' + select + ' option').remove();
        $('#' + select).append('<option value="' + DefaulValue + '">' + Label + '</option>');
    }

    function CalcularSimulacion() {
        var Clave = $("#IdVesion").val();
        var Nombre = $('#IdVesion option:selected').text();
        var url = '@Url.Action("Simulacion","Page")';
        var Data = mapSimulacion[Clave];
        window.location = url + '?Clave=' + Clave + '&Nombre=' + Nombre + '&Compra=' + Data.Compra + '&Moneda=' + Data.Moneda + '&Venta=' + Data.Venta;
    }

    function fillComboBox(select, controlador, metodo, parametros, value) {
        var url = '/' + controlador + '/' + metodo
        $.ajax({
            async: true,
            cache: false,
            dataType: "html",
            type: 'GET',
            url: url,
            data: parametros,
            success: function (data) {
                var Data = JSON.parse(data)

                console.log(Data);

                $('#' + select + ' option').remove();
                if (Data.length == 0) {
                    $('#' + select).append('<option value=""-1""></option>');
                }
                else {
                    //Se agrega el elemento vacio para poder desplegar que seleccione una opcion
                    datas = Data;
                    var id_res = 0;
                    mapSimulacion = [];
                    $.each(Data, function (i, item) {
                        $('#' + select).append('<option value="' + item.Clave + '">' +
                            item.Nombre + '</option>');
                    });
                    $('#' + select).val(value);
                }

            },
            beforeSend: function () { },
            error: function (objXMLHttpRequest) { }
        });
    }

    function MostrarPrecio(Clave, version) {
        var url = '@Url.Action("GetPrecioDeCompra", "Cotizador")';
        $.get(url, { Clave: Clave, version: version}).done(function (data) {
            $("#DivPreciosTemp").html(data);
        })
        }

        var defaults = {
            step: '.steps .step, .pearls .pearl',
            templates: {
                buttons: function buttons() {
                    var options = this.options;
                    return "<div class=\"wizard-buttons container\"><a class=\"btn btn-default btn-outline\" href=\"#".concat(this.id, "\" data-wizard=\"back\" role=\"button\">").concat("Atras", "</a><a class=\"btn style1 btn-outline float-right\" href=\"#").concat(this.id, "\" data-wizard=\"next\" role=\"button\">").concat("Seguir", "</a><a class=\"btn style1 btn-outline float-right\" href=\"#").concat(this.id, "\" data-wizard=\"finish\" role=\"button\">").concat("Continuá tu solicitud", "</a></div>");
                }
            },
            classes: {
                step: {
                    active: 'active'
                },
                button: {
                    hide: 'hidden-xs-up',
                    disabled: 'disabled'
                }
            }
        };
        var options = $.extend(true, {}, defaults,
            {
                onInit: function onInit() {
                    $('#exampleFormContainer').formValidation({
                        framework: 'bootstrap',
                        fields: {
                            Nombre: {
                                validators: {
                                    notEmpty: {
                                        message: 'El nombre es requerida.'
                                    }
                                }
                            },
                            ApellidoPaterno: {
                                validators: {
                                    notEmpty: {
                                        message: 'El appelido paterno es requerida.'
                                    }
                                }
                            },
                            IdMarca: {
                                validators: {
                                    notEmpty: {
                                        message: 'La año es requerida.'
                                    }
                                }
                            },
                            IdModelo: {
                                validators: {
                                    notEmpty: {
                                        message: 'El modelo es requerido.'
                                    }
                                }
                            },
                            IdVesion: {
                                validators: {
                                    notEmpty: {
                                        message: 'La versión es requerido.'
                                    }
                                }
                            },
                            password: {
                                validators: {
                                    notEmpty: {
                                        message: 'The password is required'
                                    }
                                }
                            },
                            AvisoPrivacidad: {
                                validators: {
                                    notEmpty: {
                                        message: 'Aceptar los terminos y condiciones'
                                    }
                                }
                            },
                            number: {
                                validators: {
                                    notEmpty: {
                                        message: 'The credit card number is not valid'
                                    }
                                }
                            },
                            Codigo: {
                                validators: {
                                    notEmpty: {
                                        message: 'Ingresa el código'
                                    }
                                }
                            }
                        },
                        err: {
                            clazz: 'invalid-feedback'
                        },
                        control: {
                            // The CSS class for valid control
                            valid: 'is-valid',
                            // The CSS class for invalid control
                            invalid: 'is-invalid'
                        },
                        row: {
                            invalid: 'has-danger'
                        }
                    });
                },
                validator: function validator() {
                    var fv = $('#exampleFormContainer').data('formValidation');
                    var $this = $(this); // Validate the container

                    fv.validateContainer($this);
                    var isValidStep = fv.isValidContainer($this);

                    if (isValidStep === false || isValidStep === null) {
                        return false;
                    }

                    if ($this.attr("id") === "DivDatosContacto") {
                        $("#TelefonoInfo").val($("#Telefono").val());
                        $("#NombreInfo").val($("#Nombre").val());
                        $("#ApellidoPaternoInfo").val($("#ApellidoPaterno").val());
                        $("#ApellidoMaternoInfo").val($("#ApellidoMaterno").val());
                        GenerarCodigo();
                    };

                    return true;
                },
                onFinish: function onFinish() {// $('#exampleFormContainer').submit();
                    validarCodigo();
                },
                buttonsAppendTo: '.panel-body'
            });


        $(function () {

            $("#IdAnio").val(null);
            $("#exampleWizardFormContainer").wizard(options);
        }); // Example Wizard Pager
  // --------------------------

        var datosTemp = {};
        function GenerarCodigo() {

            var URLCODIGO = '@Url.Action("CreateSolicitud", "Cotizador")';

            var data = {
                Telefono: $("#Telefono").val(),
                Email: $("#Email").val(),
                IdAnioLA: $("#IdAnio").val(),
                IdMarcaLA: $("#IdMarca").val(),
                IdModeloLA: $("#IdModelo").val(),
                ClaveVercion: $("#IdVersion").val(),
                Compra: 0,
                Venta: 0,
                Nombre: $("#Nombre").val(),
                ApellidoPaterno: $("#ApellidoPaterno").val(),
                ApellidoMaterno: $("#ApellidoMaterno").val(),
                NombreCopleto: $("#Nombre").val() + " " + $("#ApellidoPaterno").val() + " " + $("#ApellidoMaterno").val()
            };
            console.log(data);
            $.post(URLCODIGO, data)
                .done(function (data) {
                    console.log("Algo", data);
                    datosTemp = data;
            });



        }

        $("#Codigo").keyup(function () {
            $("#validCodigo").hide();
        });

        function validarCodigo() {
             var URLCODIGO = '@Url.Action("ValidarSolicitud", "Cotizador")';
            var data = datosTemp;
            data.CodigoValidacionNumero = $("#Codigo").val();

            $.post(URLCODIGO, data)
                .done(function (data) {
                    if (data.Error) {
                        $("#validCodigo").show();
                        $("#Codigo").addClass("is-invalid");
                    } else {
                        $("#validCodigo").hide();
                        $("#loading").show();
                        window.location = '@Url.Action("Index","Simulador")' + '?telefono=' + $("#Telefono").val() + '&codigo=' + $("#Codigo").val();
                    }

            });
        }

        function updateSelect() {
            $('#IdAnio').select2({
                placeholder: 'Selecciona año',
                width: '100%'
            });
            $('#IdMarca').select2({
                placeholder: 'Selecciona marca',
                width: '100%'
            });
            $('#IdModelo').select2({
                placeholder: 'Selecciona modelo',
                width: '100%'
            });
            $('#IdVersion').select2({
                placeholder: 'Selecciona versión',
                width: '100%'
            });
        }
        updateSelect()

    </script>
}
