
@model AutoyVaro.Fin_Cita

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}


<style>
    .error {
        background-color: #e7c6c6;
        border: 1px, solid;
        border-color: red;
    }
</style>



<section class="breadcrumbs">
    <div class="container">


        <h2>Solicitud de Crédito Auto y Varo</h2>

    </div>
</section><!-- End Breadcrumbs -->


<div class="page-content container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info panel-line">
                <div class="panel-heading">
                    <h3 class="panel-title">select time</h3>
                </div>
                <div class="panel-body">
                    <div class="calendar-container">
                        <div id='calendar' class="fc fc-unthemed fc-ltr">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">

        </div>
    </div>

</div>










<!-- Edit Dialog -->
<div class="modal fade" id="editNewEvent" aria-hidden="true" aria-labelledby="editNewEvent"
     role="dialog" tabindex="-1" data-show="false">
    <div class="modal-dialog modal-simple">

        @using (Html.BeginForm("Create", "Cita", FormMethod.Post, new { id = "formAppointment", autocomplete = "off", @class = "modal-content form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h2 class="modal-title">Registrar cita</h2>
            </div>

            <div class="modal-body">

                <hr />



                <p>La siguiente cita corresponde a una visita domiciliaria donde uno de nuestros asesores lo apoyara para continuar con el proceso de su solicitud de su crédito. </p>

                <input type="hidden" id="IdCalendario" name="IdCalendario" class="form-control" />

                <input type="hidden" id="IdSolicitud" name="IdSolicitud" class="form-control" value="@ViewBag.IdSolicitud" />

                <div class="row">

                    <div class="col-md-12">
                        <div class="input-group">
                            <label class="form-control-label" for="editStarts">Horario de Cita:</label>
                            <input type="text" class="form-control" id="editStarts" name="editStarts" data-container="#editNewEvent" readonly>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="icon md-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <br />
                    </div>

                </div>
            </div>


            <div class="modal-footer">
                <div class="form-actions">
                    <div class="row">
                        <div class="form-group col-md-12 form-inline">
                            <button type="submit" class="btn btn-outline-success">Agendar Cita</button>
                            <button type="button" data-dismiss="modal" aria-label="Close" onclick="LimpiarModal();" class="btn btn-outline-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

        }




    </div>
</div>
<!-- End EditEvent Dialog -->







@section Scripts {


    <script type="text/javascript">

    var __RequestVerificationToken = $("input[name=__RequestVerificationToken]").val();
        $("#formAppointment").submit(function (event) {
            event.preventDefault();
        var actionurl = '@Url.Action("Create", "Cita")';
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: actionurl,
            type: 'POST',
            success: SuccessOk,
            error: SuccessNot,
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        });
    });
    $(".form-control").change(function () {
        DesmarcarError($(this).attr("id"));
    });

    function LimpiarFormulario() {
        document.getElementById("formAppointment").reset();
    }


    </script>


    <script type="text/javascript">

        $(document).ready(function () {

            var myOptions = {
                header: {
                    left: null,
                    center: 'prev,title,next',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                editable: false,
                slotDuration: '00:05:00',
                slotMinTime: '09:00:00',
                slotMaxTime: '16:00:00',
                scrollTime: '09:00:00',
                scrollTimeReset: false,
                eventLimit: true,
                windowResize: function windowResize(view) {
                    var width = $(window).outerWidth();
                    var options = Object.assign({}, myOptions);
                    options.events = view.calendar.clientEvents();
                    options.aspectRatio = width < 667 ? 0.5 : 1.35;
                    $('#calendar').fullCalendar('destroy');
                    $('#calendar').fullCalendar(options);
                },
                eventClick: function eventClick(event) {



                    $("#IdCalendario").val(event.id);



                    if (event.start) {
                        $('#editStarts').val(event.start._i);
                    } else {
                        $('#editStarts').val('');
                    }

                    $('#editColor [type=radio]').each(function () {
                        var $this = $(this);

                        var _value = $this.data('color').split('|');

                        var value = (0, Config.colors)(_value[0], _value[1]);

                        if (value === color) {
                            $this.prop('checked', true);
                        } else {
                            $this.prop('checked', false);
                        }
                    });
                    $('#editNewEvent').modal('show').one('hidden.bs.modal', function (e) {
                        event.title = $('#editEname').val();
                        $('#calendar').fullCalendar('updateEvent', event);
                    });
                },
                events: '@Url.RouteUrl(new{ action="GetEvents", controller="Cita"})',
                disableDragging: true
            };

            var _options;

            var myOptionsMobile = Object.assign({}, myOptions);
            myOptionsMobile.aspectRatio = 0.5;
            _options = $(window).outerWidth() < 667 ? myOptionsMobile : myOptions;
            $('#editNewEvent').modal();
            $('#calendar').fullCalendar(_options);


        });

        // Control de validaciones
        function ValidatorForm(Data) {
            $.each(Data, function (index, value) {
                $("#" + value.Id).addClass("error");
                $("#" + value.Id).attr("data-toggle", "tooltip");
                $("#" + value.Id).attr("data-placement", "top");
                $("#" + value.Id).attr("title", value.Message);
                $("#" + value.Id).attr("data-original-title", value.Message);
                $("#" + value.Id).tooltip();

            });
        }
        function DesmarcarError(Id) {
            $("#" + Id).removeClass("error");
            $("#" + Id).removeAttr("data-toggle");
            $("#" + Id).removeAttr("data-placement");
            $("#" + Id).removeAttr("data-original-title");

        }

        function SuccessOk(Data) {
            window.location = '@Url.Action("Index","Solicitud", new { IdSolicitud = ViewBag.IdSolicitud })'
            if (!Data.Error) {
                //toastr["success"](Data.Message);
                $("[id*=Modal]").modal("hide");
                $("[id*=table]").bootstrapTable("refresh");                
            } else {
                //console.log(Data.Type);
                if (Data.Type == 'System') {
                    $("#dvConfirmation").modal("show");
                    $("#dvConfirmationTittle").html("Error system: Contact technical support");
                    $("#dvConfirmationMessage").html(Data.Message);
                } else {
                    //toastr["error"](Data.Message);
                    ValidatorForm(Data.Data);
                }
            }
        }
        function SuccessNot(Data) {

        }

    </script>

}


