@model AutoyVaro.Fit_Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Fit_Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntreCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntreCalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YCalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoOficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoOficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoDeIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoDeIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActividadPreponderante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActividadPreponderante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentescoR1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentescoR1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionR1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionR1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoR1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoR1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoR2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoR2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoR3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoR3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_civil.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_civil.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
