
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap bg-spring">
    <img src="~/Content/assets3/img/breadcrumb/br-shape-1.png" alt="Image" class="br-shape-one xs-none">
    <img src="~/Content/assets3/img/breadcrumb/br-shape-2.png" alt="Image" class="br-shape-two xs-none">
    <img src="~/Content/assets3/img/breadcrumb/br-shape-3.png" alt="Image" class="br-shape-three moveHorizontal sm-none">
    <img src="~/Content/assets3/img/breadcrumb/br-shape-4.png" alt="Image" class="br-shape-four moveVertical sm-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8 col-sm-8">
                <div class="breadcrumb-title">
                    <h2>Blog Auto y Varo</h2>

                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 xs-none">
                <div class="breadcrumb-img">
                    <img src="~/Content/assets3/img/breadcrumb/br-shape-5.png" alt="Image" class="br-shape-five animationFramesTwo">
                    <img src="~/Content/assets3/img/breadcrumb/br-shape-6.png" alt="Image" class="br-shape-six bounce">
                    <!--<img src="~/Content/assets3/img/Blog2.jpg" alt="Image">-->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Breadcrumb End -->
<!-- Blog Details Section Start -->
<div class="blog-wrap ptb-100">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Emprender","Blog")"><img src="~/Content/assets3/img/emprendimiento.png" alt="Image"></a>    
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i> <a href="">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Emprender","Blog")">Emprender sin Morir en el Intento</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Estrategias","Blog")"><img src="~/Content/assets3/img/estrategias.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i> <a href="posts-by-author.html">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Estrategias","Blog")">Sobreviviendo a la Cuesta de Enero </a></h3>

                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Prestamo","Blog")"><img src="~/Content/assets3/img/prestamo.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Prestamo","Blog")">Sácale provecho a tu préstamo</a></h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Datos","Blog")" class="link style1"><img src="~/Content/assets3/img/datos.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i> <a href="posts-by-author.html">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Datos","Blog")">Datos Cruciales de Autos</a></h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Lenguaje","Blog")" class="link style1"><img src="~/Content/assets3/img/lenguaje.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i> <a href="posts-by-author.html">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Lenguaje","Blog")"> Lenguaje Financiero</a></h3>
                        
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Facturas","Blog")" class="link style1"><img src="~/Content/assets3/img/facturas.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i> <a href="posts-by-author.html">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Facturas","Blog")">Facturas de Autos</a></h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Modelos","Blog")" class="link style1"><img src="~/Content/assets3/img/modelos.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i> <a href="posts-by-author.html">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Modelos","Blog")">Devaluación de Modelos y Marcas</a></h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Obtener","Blog")" class="link style1"><img src="~/Content/assets3/img/obtenerdinero.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y Varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Obtener","Blog")">Dinero por tu auto sin dejarlo.</a></h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Autoyvaro","Blog")" class="link style1"><img src="~/Content/assets3/img/quenecesitas.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Autoyvaro","Blog")">Préstamo en Auto y Varo.</a></h3>
                        
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <a href="@Url.Action("Afinacion","Blog")" class="link style1"><img src="~/Content/assets3/img/afinacionautos.png" alt="Image"></a>
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo  list-style">
                            <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y varo</a></li>
                            <li><i class="flaticon-calendar"></i>14 Diciembre, 2023</li>
                        </ul>
                        <h3><a href="@Url.Action("Afinacion","Blog")">Afinación de Automóviles.</a></h3>
                        
                    </div>
                </div>
            </div>


            <!-- <div class="col-xl-4 col-lg-6 col-md-6">
         <div class="blog-card style1">
             <div class="blog-img">
                 <img src="~/Content/assets3/img/blog/Llanta2.png" alt="Image">

             </div>
             <div class="blog-info">
                 <ul class="blog-metainfo  list-style">
                     <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y varo</a></li>
                     <li><i class="flaticon-calendar"></i>28 septiembre, 2022</li>
                 </ul>
                 <h3><a href="@Url.Action("Llanta1","Blog")">Es muy importante evaluar el tipo de llanta para tu auto</a></h3>
                 <a href="@Url.Action("Llanta1","Blog")" class="link style1">
                     Leer Más
                     <i class="flaticon-right-arrow"></i>
                 </a>
             </div>
         </div>
     </div> -->
            @*<div class="col-xl-4 col-lg-6 col-md-6">
            <div class="blog-card style1">
                <div class="blog-img">
                    <img src="~/Content/assets3/img/_cambio de aceite.jpg" alt="Image">
                </div>
                <div class="blog-info">
                    <ul class="blog-metainfo  list-style">
                        <li><i class="flaticon-user"></i><a href="posts-by-author.html">A.Reyes</a></li>
                        <li><i class="flaticon-calendar"></i>30 Mayo, 2022</li>
                    </ul>
                    <h3><a href="blog-details-right-sidebar.html">Trata de cambiar el aceite con regularidad.</a></h3>
                    <a href="blog-details-right-sidebar.html" class="link style1">
                        Leer Más
                        <i class="flaticon-right-arrow"></i>
                    </a>
                </div>
            </div>
        </div>*@

        </div>
</div>
<!-- Blog Details Section End -->
